html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus, button:focus {
  outline: none; }

@font-face {
  font-family: DINPro-Regular;
  src: url('/fonts/DINPro/DINPro-Regular.otf') format('opentype'); }

@font-face {
  font-family: DINPro-Medium;
  src: url('/fonts/DINPro/DINPro-Medium.otf') format('opentype'); }

@font-face {
  font-family: DINPro-Light;
  src: url('/fonts/DINPro/DINPro-Light.otf') format('opentype'); }

@font-face {
  font-family: PalaceScriptMT;
  src: url('/fonts/PalaceScriptMT/PALSCRI.ttf') format('opentype'); }

@font-face {
  font-family: 'Bauhanus';
  src: url('/fonts/Bauhanus.ttf') format('truetype'); }

.delay-100ms {
  -webkit-animation-delay: 100ms !important;
  animation-delay: 100ms !important; }

.duration-100ms {
  -webkit-animation-duration: 100ms !important;
  animation-duration: 100ms !important; }

.delay-200ms {
  -webkit-animation-delay: 200ms !important;
  animation-delay: 200ms !important; }

.duration-200ms {
  -webkit-animation-duration: 200ms !important;
  animation-duration: 200ms !important; }

.delay-300ms {
  -webkit-animation-delay: 300ms !important;
  animation-delay: 300ms !important; }

.duration-300ms {
  -webkit-animation-duration: 300ms !important;
  animation-duration: 300ms !important; }

.delay-400ms {
  -webkit-animation-delay: 400ms !important;
  animation-delay: 400ms !important; }

.duration-400ms {
  -webkit-animation-duration: 400ms !important;
  animation-duration: 400ms !important; }

.delay-500ms {
  -webkit-animation-delay: 500ms !important;
  animation-delay: 500ms !important; }

.duration-500ms {
  -webkit-animation-duration: 500ms !important;
  animation-duration: 500ms !important; }

.delay-600ms {
  -webkit-animation-delay: 600ms !important;
  animation-delay: 600ms !important; }

.duration-600ms {
  -webkit-animation-duration: 600ms !important;
  animation-duration: 600ms !important; }

.delay-700ms {
  -webkit-animation-delay: 700ms !important;
  animation-delay: 700ms !important; }

.duration-700ms {
  -webkit-animation-duration: 700ms !important;
  animation-duration: 700ms !important; }

.delay-800ms {
  -webkit-animation-delay: 800ms !important;
  animation-delay: 800ms !important; }

.duration-800ms {
  -webkit-animation-duration: 800ms !important;
  animation-duration: 800ms !important; }

.delay-900ms {
  -webkit-animation-delay: 900ms !important;
  animation-delay: 900ms !important; }

.duration-900ms {
  -webkit-animation-duration: 900ms !important;
  animation-duration: 900ms !important; }

.delay-1000ms {
  -webkit-animation-delay: 1000ms !important;
  animation-delay: 1000ms !important; }

.duration-1000ms {
  -webkit-animation-duration: 1000ms !important;
  animation-duration: 1000ms !important; }

.delay-1100ms {
  -webkit-animation-delay: 1100ms !important;
  animation-delay: 1100ms !important; }

.duration-1100ms {
  -webkit-animation-duration: 1100ms !important;
  animation-duration: 1100ms !important; }

.delay-1200ms {
  -webkit-animation-delay: 1200ms !important;
  animation-delay: 1200ms !important; }

.duration-1200ms {
  -webkit-animation-duration: 1200ms !important;
  animation-duration: 1200ms !important; }

.delay-1300ms {
  -webkit-animation-delay: 1300ms !important;
  animation-delay: 1300ms !important; }

.duration-1300ms {
  -webkit-animation-duration: 1300ms !important;
  animation-duration: 1300ms !important; }

.delay-1400ms {
  -webkit-animation-delay: 1400ms !important;
  animation-delay: 1400ms !important; }

.duration-1400ms {
  -webkit-animation-duration: 1400ms !important;
  animation-duration: 1400ms !important; }

.delay-1500ms {
  -webkit-animation-delay: 1500ms !important;
  animation-delay: 1500ms !important; }

.duration-1500ms {
  -webkit-animation-duration: 1500ms !important;
  animation-duration: 1500ms !important; }

.delay-1600ms {
  -webkit-animation-delay: 1600ms !important;
  animation-delay: 1600ms !important; }

.duration-1600ms {
  -webkit-animation-duration: 1600ms !important;
  animation-duration: 1600ms !important; }

.delay-1700ms {
  -webkit-animation-delay: 1700ms !important;
  animation-delay: 1700ms !important; }

.duration-1700ms {
  -webkit-animation-duration: 1700ms !important;
  animation-duration: 1700ms !important; }

.delay-1800ms {
  -webkit-animation-delay: 1800ms !important;
  animation-delay: 1800ms !important; }

.duration-1800ms {
  -webkit-animation-duration: 1800ms !important;
  animation-duration: 1800ms !important; }

.delay-1900ms {
  -webkit-animation-delay: 1900ms !important;
  animation-delay: 1900ms !important; }

.duration-1900ms {
  -webkit-animation-duration: 1900ms !important;
  animation-duration: 1900ms !important; }

.delay-2000ms {
  -webkit-animation-delay: 2000ms !important;
  animation-delay: 2000ms !important; }

.duration-2000ms {
  -webkit-animation-duration: 2000ms !important;
  animation-duration: 2000ms !important; }

.no-delay {
  -webkit-animation-delay: 0ms !important;
  animation-delay: 0ms !important; }

.wide {
  -webkit-animation: wide-animation 600ms ease;
  animation: wide-animation 600ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes wide-animation {
  0% {
    -webkit-transform: scaleX(0) scaleY(2);
    transform: scaleX(0) scaleY(2); }

  100% {
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1); } }

@keyframes wide-animation {
  0% {
    -webkit-transform: scaleX(0) scaleY(2);
    transform: scaleX(0) scaleY(2); }

  100% {
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1); } }

.fade-out {
  -webkit-animation: fade-out-animation 300ms ease;
  animation: fade-out-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fade-out-animation {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out-animation {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.grow-up {
  -webkit-animation: grow-up-animation 300ms ease;
  animation: grow-up-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes grow-up-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(200%);
    transform: scale(0) translateY(200%); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0); } }

@keyframes grow-up-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(200%);
    transform: scale(0) translateY(200%); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0); } }

.grow-fade {
  -webkit-animation: grow-fade-animation 300ms ease;
  animation: grow-fade-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes grow-fade-animation {
  0% {
    opacity: 0.38;
    -webkit-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes grow-fade-animation {
  0% {
    opacity: 0.38;
    -webkit-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

.reduce-left {
  -webkit-animation: reduce-left-animation 300ms ease;
  animation: reduce-left-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes reduce-left-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.15) translateX(-30px);
    transform: scale(1.15) translateX(-30px); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0px);
    transform: scale(1) translateX(0px); } }

@keyframes reduce-left-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.15) translateX(-30px);
    transform: scale(1.15) translateX(-30px); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0px);
    transform: scale(1) translateX(0px); } }

.reduce {
  -webkit-animation: reduce-animation 300ms ease;
  animation: reduce-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes reduce-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes reduce-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.grow-out {
  -webkit-animation: grow-out-animation 300ms ease;
  animation: grow-out-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes grow-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.25);
    transform: scale(1.25); } }

@keyframes grow-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.25);
    transform: scale(1.25); } }

.grow {
  -webkit-animation: grow-animation 300ms ease;
  animation: grow-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes grow-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes grow-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.slide-left {
  -webkit-animation: slide-left-animation 300ms ease;
  animation: slide-left-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-left-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slide-left-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.slide-left-out {
  -webkit-animation: slide-left-out-animation 300ms ease;
  animation: slide-left-out-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-left-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes slide-left-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

.slide-right {
  -webkit-animation: slide-right-animation 300ms ease;
  animation: slide-right-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-right-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slide-right-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.slide-right-out-min {
  -webkit-animation: slide-right-out-min-animation 300ms ease;
  animation: slide-right-out-min-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-right-out-min-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px); } }

@keyframes slide-right-out-min-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px); } }

.slide-right-out {
  -webkit-animation: slide-right-out-animation 300ms ease;
  animation: slide-right-out-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-right-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes slide-right-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

.slide-up-min {
  -webkit-animation: slide-up-min-animation 300ms ease;
  animation: slide-up-min-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-up-min-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes slide-up-min-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

.slide-down-out-min {
  -webkit-animation: slide-down-out-min-animation 300ms ease;
  animation: slide-down-out-min-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-down-out-min-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes slide-down-out-min-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

.slide-up-out-min {
  -webkit-animation: slide-up-out-min-animation 300ms ease;
  animation: slide-up-out-min-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-up-out-min-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); } }

@keyframes slide-up-out-min-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); } }

.slide-up {
  -webkit-animation: slide-up-animation 300ms ease;
  animation: slide-up-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-up-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes slide-up-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

.slide-up-out {
  -webkit-animation: slide-up-out-animation 300ms ease;
  animation: slide-up-out-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-up-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes slide-up-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

.slide-down-out {
  -webkit-animation: slide-down-out-animation 300ms ease;
  animation: slide-down-out-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-down-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes slide-down-out-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

.slide-down {
  -webkit-animation: slide-down-animation 300ms ease;
  animation: slide-down-animation 300ms ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-down-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes slide-down-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

.layer, body, html {
  position: absolute;
  height: 100%;
  width: 100%; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  background: #f4f4f5;
  font-family: DINPro-Regular, Tahoma, Helvetica, sans-serif;
  color: #545454; }

.content-section {
  padding: 30px; }

.desk {
  width: 900px;
  margin: 0 auto; }
  .desk > .side-block {
    position: absolute;
    height: 100%;
    width: 239px; }
  .desk > .content-block {
    position: relative;
    min-height: 100%;
    margin-left: 239px;
    background: #f4f4f5; }

.welcome-content-block {
  background-color: #ebf7f5;
  position: relative;
  min-height: 100%; }

.side-block {
  background: #334754;
  color: #fff; }
  .side-block > .section:first-child {
    border-top: none; }
  .side-block > .section {
    padding: 32px 14px;
    border-top: 1px solid #30414c; }
    .side-block > .section > .part {
      margin-top: 20px; }

.clock {
  cursor: default;
  text-transform: uppercase; }
  .clock > small {
    font-size: 14px; }
  .clock > strong {
    display: block;
    font-size: 36px;
    margin-bottom: 10px; }

.upcoming-tasks > h4 {
  cursor: default;
  font-size: 12px;
  color: #536874;
  margin-bottom: 10px; }
.upcoming-tasks > section {
  min-height: 30px;
  cursor: pointer;
  padding: 0 10px;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease; }
  .upcoming-tasks > section > strong {
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    width: 45px; }
  .upcoming-tasks > section > small {
    font-size: 12px;
    line-height: 30px;
    color: #99aeba; }
.upcoming-tasks > section:hover {
  background: #2d3f4a; }

.progress-bar {
  position: relative;
  height: 6px;
  background: rgba(0, 0, 0, 0.1); }
  .progress-bar > .filler {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0; }
  .progress-bar > .filler.low {
    background: #c94d48; }
  .progress-bar > .filler.medium {
    background: #4f8ecd; }
  .progress-bar > .filler.high {
    background: #78b45e; }

.navigation {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: -13px; }
  .navigation > li {
    height: 38px;
    line-height: 38px; }
  .navigation > li > a {
    position: relative;
    display: inline-block;
    height: inherit;
    text-decoration: none;
    color: #536874;
    line-height: inherit; }
    .navigation > li > a .underline {
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 5px;
      background: #536874;
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      opacity: 0;
      -webkit-transition: -webkit-transform 200ms ease, opacity 200ms ease, background 200ms ease;
      transition: transform 200ms ease, opacity 200ms ease, background 200ms ease; }
  .navigation > li > a:hover .underline {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .navigation > li.active > a {
    color: #99aeba; }
    .navigation > li.active > a .underline {
      background: #99aeba;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0); }

.page-title {
  height: 72px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 72px;
  text-transform: uppercase; }
  .page-title > strong {
    color: #3b3c3b; }
  .page-title > small {
    color: #888888; }

.tool-bar {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
  background: #3c5464;
  height: 44px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05); }
  .tool-bar .tool {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    cursor: pointer;
    width: 62px;
    height: inherit;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease; }
    .tool-bar .tool svg {
      fill: #fff;
      width: 20px; }
  .tool-bar .tool:hover {
    background: #364c5a; }

.task-quick-add {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.03); }

.task-add-box {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: stretch;
  -moz-box-pack: stretch;
  justify-content: stretch;
  -webkit-align-items: flext-start;
  -moz-box-align: flext-start;
  align-items: flext-start;
  height: 34px;
  overflow: hidden; }
  .task-add-box > .task-text-box {
    position: relative;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1; }
    .task-add-box > .task-text-box input[type="text"] {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      border: none;
      padding: 0 14px;
      color: #545454;
      height: 34px; }
  .task-add-box > .task-text-box.active:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #5a7fbf;
    top: 0;
    left: 0; }
  .task-add-box > .task-text-box input[type="text"]:-moz-placeholder {
    text-transform: uppercase;
    color: #999999;
    transition: color 200ms ease; }
  .task-add-box > .task-text-box input[type="text"]:-ms-input-placeholder {
    text-transform: uppercase;
    color: #999999;
    transition: color 200ms ease; }
  .task-add-box > .task-text-box input[type="text"]::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #999999;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease; }
  .task-add-box > .task-text-box input[type="text"]::-moz-placeholder {
    text-transform: uppercase;
    color: #999999;
    transition: color 200ms ease; }
  .task-add-box > .task-text-box input[type="text"]:focus:-moz-placeholder {
    color: #e2e2e2; }
  .task-add-box > .task-text-box input[type="text"]:focus:-ms-input-placeholder {
    color: #e2e2e2; }
  .task-add-box > .task-text-box input[type="text"]:focus::-webkit-input-placeholder {
    color: #e2e2e2; }
  .task-add-box > .task-text-box input[type="text"]:focus::-moz-placeholder {
    color: #e2e2e2; }

.task-extra-add {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  align-items: stretch;
  height: 35px;
  background: #f2f2f2;
  overflow: hidden;
  -webkit-transition: height 200ms ease;
  transition: height 200ms ease; }
  .task-extra-add.hidden {
    height: 2px; }
  .task-extra-add .task-add-button {
    cursor: pointer;
    height: 100%;
    padding: 0 14px;
    background: none;
    border: none;
    color: #c4c4c4;
    font-size: 12px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease; }
    .task-extra-add .task-add-button i {
      margin-left: 10px; }
      .task-extra-add .task-add-button i svg {
        vertical-align: middle;
        height: 11px;
        fill: #d3d2d2;
        -webkit-transition: fill 200ms ease;
        transition: fill 200ms ease; }
  .task-extra-add .task-add-button:hover {
    color: #4a6374; }
    .task-extra-add .task-add-button:hover i svg {
      fill: #4a6374; }

.select-date {
  position: relative;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flext-start;
  -moz-box-align: flext-start;
  align-items: flext-start; }
  .select-date .select-date-variant:nth-child(1) {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: background 200ms ease, color 200ms ease, -webkit-transform 180ms ease 50ms;
    transition: background 200ms ease, color 200ms ease, transform 180ms ease 50ms; }
  .select-date .select-date-variant:nth-child(2) {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: background 200ms ease, color 200ms ease, -webkit-transform 180ms ease;
    transition: background 200ms ease, color 200ms ease, transform 180ms ease; }
  .select-date .select-date-variant {
    cursor: pointer;
    padding: 0 15px;
    background: #4b6576;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 34px;
    color: #2f404b; }
  .select-date .select-date-variant.active {
    background: #3d5666;
    color: #fff; }
  .select-date.active:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #5a7fbf;
    top: 0;
    left: -2px; }
  .select-date.hidden .select-date-variant:nth-child(1) {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: background 200ms ease, color 200ms ease, -webkit-transform 180ms ease;
    transition: background 200ms ease, color 200ms ease, transform 180ms ease; }
  .select-date.hidden .select-date-variant:nth-child(2) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: background 200ms ease, color 200ms ease, -webkit-transform 180ms ease 50ms;
    transition: background 200ms ease, color 200ms ease, transform 180ms ease 50ms; }

.task-priority {
  position: relative;
  display: inline-block;
  height: 35px; }
  .task-priority.active:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #5a7fbf;
    top: 0;
    left: 0; }
  .task-priority > strong {
    float: left;
    padding: 0 14px;
    color: #545454;
    font-size: 12px;
    line-height: 35px; }
  .task-priority > section {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    align-items: flex-start; }
    .task-priority > section > i {
      cursor: pointer;
      height: 35px;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -moz-box-align: center;
      align-items: center;
      margin-right: 5px; }
      .task-priority > section > i svg {
        vertical-align: middle;
        height: 14px;
        fill: #dfdedf;
        -webkit-transition: fill 200ms ease;
        transition: fill 200ms ease; }
    .task-priority > section > i.active svg {
      fill: #d55074; }

.header {
  background-color: #ebf7f5;
  border-bottom: 1px solid #e0dfe0;
  height: 56px;
  padding: 0 10px; }

.header-menu {
  color: #ebf7f5;
  font-size: 14px;
  text-transform: uppercase; }
  .header-menu ul {
    line-height: 57px; }
    .header-menu ul li:nth-child(1):hover ~ .underline {
      left: 10px; }
    .header-menu ul li:nth-child(2):hover ~ .underline {
      left: 142px; }
    .header-menu ul li:nth-child(3):hover ~ .underline {
      left: 274px; }
    .header-menu ul > li {
      cursor: pointer;
      display: inline-block;
      padding: 0 15px;
      text-align: center;
      width: 129px; }
      .header-menu ul > li > a {
        color: #6a6a6b;
        text-decoration: none; }
    .header-menu ul > .underline {
      background: #134b62;
      height: 3px;
      left: -130px;
      margin-top: -5px;
      position: absolute;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      width: 129px; }

.title-container {
  height: 275px;
  color: #ffffff; }
  .title-container > .form-title {
    height: 60px;
    background-color: #2b5465;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    line-height: 60px; }
  .title-container > .title-description {
    height: 215px;
    background-color: #244856;
    text-align: center;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center; }
    .title-container > .title-description > .title {
      font-family: 'Bauhanus', Arial;
      text-transform: uppercase;
      font-size: 73px; }
    .title-container > .title-description > .description {
      font-size: 14px; }

.form-container {
  margin: 30px auto 0;
  width: 443px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02); }

.form-content {
  background-color: #ffffff;
  height: 430px;
  margin: 0 auto; }

.input-label {
  text-align: center;
  font-family: DINPro-Medium;
  font-size: 14px;
  color: #383938;
  text-transform: uppercase; }

.input-container {
  margin: 23px 54px; }

.form-controls {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  height: 300px;
  border-bottom: 1px solid #e2ebea; }

.form-margin {
  margin: 50px 0; }

input[type="email"], input[type="password"] {
  width: 100%;
  border: 1px solid #d9d9d9;
  line-height: 45px;
  font-size: 14px;
  color: #383938;
  padding: 0 13px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease; }

input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
  border-color: #2b5465; }

.form-submit {
  text-align: center;
  /*height: 130px;*/ }

.submit-button {
  margin-top: 41px;
  margin-bottom: 41px;
  width: 122px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #254957;
  font-size: 14px;
  color: #383938;
  cursor: pointer;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  text-transform: uppercase;
  font-family: DINPro-Medium; }

.submit-button:hover {
  background-color: #2b5465;
  color: #ffffff; }
