.page-title {
    $height: 72px;

    height: $height;
    padding: 0 30px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: $height;
    background: #f6f7f7;
    border-bottom: 1px solid #ecebeb;

    & > {
        strong {
            color: #faac7d;
        }

        small {
            color: #888888;
        }
    }
}