.page-title {
    $height: 72px;

    height: $height;
    padding: 0 30px;
    font-size: 14px;
    line-height: $height;
    text-transform: uppercase;

    & > {
        strong {
            color: #3b3c3b;
        }

        small {
            color: #888888;
        }
    }
}