.select-date {
    position: relative;
    @include flex-box(flext-start, flex-start);
    $variant-transition: background 200ms ease, color 200ms ease;

    & {

        .select-date-variant:nth-child(1) {
            transform: translateX(0);
            transition: $variant-transition, transform 180ms ease 50ms;
        }

        .select-date-variant:nth-child(2) {
            transform: translateX(0);
            transition: $variant-transition, transform 180ms ease;
        }

        .select-date-variant {
            cursor: pointer;
            padding: 0 15px;
            background: #4b6576;
            text-transform: uppercase;
            font-size: 12px;
            line-height: $task-add-box-height;
            color: #2f404b;
        }

        .select-date-variant.active {
            background: #3d5666;
            color: #fff;
        }
    }

    &:after {
        @include pseudo;
        @extend .select-line;
        @extend .select-line.hidden;
    }

    &.active:after {
        @include pseudo;
        @extend .select-line;
    }

    &.hidden {
        .select-date-variant:nth-child(1) {
            transform: translateX(200%);
            transition: $variant-transition, transform 180ms ease;
        }

        .select-date-variant:nth-child(2) {
            transform: translateX(100%);
            transition: $variant-transition, transform 180ms ease 50ms;
        }
    }
}