.task-extra-add {
    @include flex-box(flex-start, space-between);
    height: $task-extra-height;
    background: $secondary-block-bg-color;
    overflow: hidden;
    transition: height 200ms ease;

    &.hidden {
        height: 0;
    }
}