.tasks{
    & > {
        b {
            font-family: $title-font-family;
            font-size: 14px;
            color: $title-font-color;
            display: block;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        li{
            $task-row-height: 33px;

            padding: 0 8px;
            height: $task-row-height;
            font-size: 12px;
            line-height: $task-row-height;
            color: $base-font-color;

            & > {
                main > {
                    strong {
                        text-transform: uppercase;
                    }

                    small {
                        color: #adacac;
                    }
                }

                .ico {
                    cursor: pointer;

                    svg {
                        fill: #d4d4d3;
                        height: 15px;
                        transition: fill 180ms;
                    }

                    &.postpone {
                        float: right;
                    }

                    &.star > svg {
                        fill: #f9bc51;
                    }
                }
            }            
        }
    }
}