.task-priority {
    position: relative;
    display: inline-block;
    height: $task-extra-height;

    &.active:before {
        @include pseudo;
        @include position(absolute, 1px, 100%);
        background: #5a7fbf;
        top: 0;
        left: 0;
    }

    & > {
        strong {
            float: left;
            padding: 0 14px;
            color: $base-font-color;
            font-size: 12px;
            line-height: $task-extra-height;
        }

        section {
            @include flex-box(flex-start, flex-start);

            & > {
                i {
                    cursor: pointer;
                    height: $task-extra-height;
                    @include flex-box(center, flex-start);
                    margin-right: 5px;

                    svg {
                        vertical-align: middle;
                        height: 14px;
                        fill: #dfdedf;
                        transition: fill 200ms ease;
                    }
                }

                i.active {
                    svg {
                        fill: #d55074;
                    }
                }
            }
        }
    }
}