.tool-bar {
    @include flex-box(flex-start, space-between);
    $background-color: $third-bg-color;

    background: $background-color;
    height: 44px;
    box-shadow: 0 0 3px rgba(0,0,0,0.05);
    border-radius: 2px;
    overflow: hidden;

    & {
        .tool {
            @include flex-box(center, center);

            cursor: pointer;
            width: 62px;
            height: inherit;
            transition: background 200ms ease;

            svg {
                fill: #fff;
                width: 20px;
            }
        }

        .tool:hover {
            background: darken($background-color, 3%);
        }
    }
}

