.upcoming-tasks {
    & > {
        h4 {
            cursor: default;
            font-size: 12px;
            color: #536874;
            margin-bottom: 10px;
        }

        section {
            $section-height:30px;

            min-height: $section-height;
            cursor: pointer;
            padding: 0 10px;
            transition: background 300ms ease;

            & > {
                strong {
                    font-size: 16px;
                    line-height: $section-height;
                    display: inline-block;
                    width: 45px;
                }

                small {
                    font-size: 12px;
                    line-height: $section-height;
                    color: #99aeba;
                }
            }
        }

        section:hover {
            background: darken($secondary-bg-color, 3%);
        }
    }
}