@mixin flex-property($display, $vertical-align, $horizontal-align, $direction) {
  display: $display;
  flex-direction: $direction;
  align-items: $vertical-align;
  justify-content: $horizontal-align;
}

@mixin flex-box($vertical-align, $horizontal-align) {
  @include flex-property(flex, $vertical-align, $horizontal-align, row);
}

@mixin flex-box-inline($vertical-align, $horizontal-align) {
  @include flex-property(inline-flex, $vertical-align, $horizontal-align, row);
}