@function size-in-percent($partialSize, $fullSize) {
  @return $partialSize / $fullSize * 100%;
}

@mixin vertical-center($height) {
  top: 50%;
  margin-top: -($height / 2);
}

@mixin horizontal-center($width) {
  left: 50%;
  margin-left: -($width / 2);
}

@mixin pseudo {
  content: "";
  display: block;
}

@mixin position($position, $width, $height: null) {
  position: $position;

  @if ($height == null) {
    height: $width;
    width: $width;
  } @else {
    height: $height;
    width: $width;
  }
}