.navigation {
    $link-color: #536874;
    $active-link-color: #99aeba;

    text-transform: uppercase;
    font-size: 12px;
    margin-top: -13px;

    & > {

        li {
            height: 38px;
            line-height: 38px;
        }

        li > a {
            position: relative;
            display: inline-block;
            height: inherit;
            text-decoration: none;
            color: $link-color;
            line-height: inherit;

            .underline {
                @include position(absolute, 100%, 1px);

                left: 0;
                bottom: 5px;
                background: $link-color;

                transform: translateY(3px);
                opacity: 0;

                transition: transform 200ms ease, opacity 200ms ease, background 200ms ease;
            }
        }

        li > a:hover {
            .underline {
                opacity: 1;
                transform: translateY(0);
            }
        }

        li.active > a {
            color: $active-link-color;

            .underline {
                background: $active-link-color;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}