.task-priority {
    position: relative;
    display: inline-block;
    height: $task-extra-height;

    &:after {
        @include pseudo;
        @extend .select-line;
        @extend .select-line.hidden;
    }

    &.active:after {
        @include pseudo;
        @extend .select-line;
    }

    & > {
        strong {
            float: left;
            padding-left: 14px;
            padding-right: 10px;
            color: #8f8f8f;
            font-size: 12px;
            line-height: $task-extra-height;
        }

        section {
            display: inline-block;
            height: inherit;

            .ico {
                cursor: pointer;

                svg {
                    fill: #eaeaea;
                    height: 14px;
                    transition: fill 180ms;
                }
            }

            .ico.active {
                svg {
                    fill: darken(#ffd76e, 1%);
                }
            }
        }
    }
}