.material-block {
    margin: 0 auto;
    background: $base-block-bg-color;
    box-shadow: $base-block-shadow;
    overflow: hidden;

    & > {
        section {
              padding: 20px 14px;
          }
    }
}

.pointer {
    cursor: pointer;
}

.material-block.mini {
    width: 442px;
}

.welcome-title {
    display: block;
    text-align: center;
    background: $third-bg-color;
    font-size: 18px;
    color: $secondary-font-color;
    text-transform: uppercase;
    height: 59px;
    line-height: 59px;
    text-align: center;
}

.select-block {
    background: #2dd5ea;
}

.overflow-hidden {
    overflow: hidden;
}

.select-line {
    @extend .select-block;
    @include position(absolute, 2px, 100%);

    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 200ms ease;

    &.hidden {
        opacity: 0;
    }
}

.content-section {
    &.padding-top-none {
        padding-top: 0;
    }

    &.padding-bottom-none {
        padding-bottom: 0;
    }

    &.padding-top-high {
        padding-top: 30px;
    }

    &.padding-top-mini {
        padding-top: 15px;
    }

    padding: 20px 30px;
}

.inline-text {
    display: inline-block;
    vertical-align: top;
}