@mixin button($height:25px, $font-size: 12px) {
  $button-height: $height;

  cursor: pointer;
  height: $button-height;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: $font-size;
  line-height: $button-height;
  border: none;
  background: none;
}

.base-button {
  @include button(44px, 14px);

  text-transform: uppercase;
  border: 1px solid $secondary-bg-color;
  color: $base-font-color;
  transition: color 200ms ease, background 200ms ease;

  &:hover {
    background: $secondary-bg-color;
    color: $secondary-font-color;
  }
}

.material-button {
  @include button;
  color: #b0b0b0;
  transition: color 200ms ease;

  svg {
    fill: #d3d2d2;
    transition: fill 200ms ease;
  }

  &:hover {
    color: #4b6576;

    svg {
      fill: #4b6576;
    }
  }
}

.modal-button {
  @include button(37px, 14px);
  border-radius: 2px;
  text-transform: uppercase;
  border: 1px solid #92a8b5;
  margin: 0 5px;
  color: #92a8b5;
  transition: background 200ms ease, color 200ms ease, border-color 200ms ease;


  &:hover, &:focus {
    background: $modal-color;
    color: #fff;
    border-color: $modal-color;
  }
}

.tall-button {
  @include button;
  height: inherit;
}
