.ico {
    @include flex-box-inline(center, center);
    $margin: 7px;
    height: inherit;

    svg {
        height: 11px;
    }

    svg rect.partial-star-svg {
        mask: url(#partial-star-mask);
    }

    svg rect.partial-star-bg-svg {
        mask: url(#partial-star-mask);
    }

    &.margin {
        margin: 0 $margin;
    }

    &.margin-left {
        margin-left: $margin;
    }

    &.margin-right {
        margin-right: $margin;
    }

    &.margin-right-wide {
        margin-right: ($margin * 2);
    }
}


