@import '../modules/_all';

//colors
$base-bg-color: #fff;
$secondary-bg-color: #334754;

//fonts
$base-font-family: DINPro-Regular, Tahoma, Helvetica, sans-serif;

//font-colors
$base-font-color: #fff;

//line-colors