@import '../modules/_all';

//colors
$base-bg-color: #f4f4f5;
$secondary-bg-color: #334956;
$third-bg-color: #3d5666;
$modal-color: #4d7e8d;

$base-block-bg-color: #fff;
$secondary-block-bg-color: #f2f2f2;

//fonts
$base-font-family: DINPro-Regular, Tahoma, Helvetica, sans-serif;
$title-font-family: DINPro-Medium, Tahoma, Helvetica, sans-serif;
$project-font-family: Bauhaus, Tahoma, Helvetica, sans-serif;

//font-colors
$base-font-color: #545454;
$secondary-font-color: #fff;

//shadows
$base-block-shadow: 0 0 3px rgba(0,0,0,0.07);

//components
$task-add-box-height: 34px;
$task-extra-height: 35px;