@font-face {
    font-family: DINPro-Regular;
    src: url('/fonts/DINPro/DINPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: DINPro-Medium;
    src:url('/fonts/DINPro/DINPro-Medium.otf') format('opentype');
}

@font-face {
    font-family: DINPro-Light;
    src:url('/fonts/DINPro/DINPro-Light.otf') format('opentype');
}

@font-face {
    font-family: PalaceScriptMT;
    src:url('/fonts/PalaceScriptMT/PALSCRI.ttf') format('opentype');
}