.layer {
    @include position(absolute, 100%);
}

* {
    box-sizing: border-box;
}
body, html {
    @extend .layer;

    background: $base-bg-color;
    font-family: $base-font-family;
    color: $base-font-color;
}

.content-section {
    padding: 30px;
}

.desk {
    width: 900px;
    margin: 0 auto;

    & > {
        $side-block-width: 239px;

        .side-block {
            @include position(absolute, $side-block-width, 100%);
        }

        .content-block {
            position: relative;
            min-height: 100%;
            margin-left: $side-block-width;

            background: $base-bg-color;
        }
    }
}

