.layer {
    @include position(absolute, 100%);
}

* {
    box-sizing: border-box;
}
body, html {
    @extend .layer;

    background: $base-bg-color;
    font-family: $base-font-family;
    color: $base-font-color;
}

#application {
    @extend .layer;
    overflow: auto;
}

.desk {
    width: 900px;
    min-height: 100%;
    margin: 0 auto;
    @include flex-box(stretch, flex-start);

    & > {
        $left-block-width: 239px;

        .left-block {
            @include flex-box(stretch, flex-start);

            width:  $left-block-width;
            flex-shrink: 0;
            min-height: inherit;
        }

        .content-block {
            flex-grow: 1;
        }
    }
}
