.layer {
  @include position(absolute, 100%);
}

.layer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
}

body, html {
  @extend .layer;

  background: $base-bg-color;
  font-family: $base-font-family;
  color: $base-font-color;
}

